
<body> 
  <style>
    .blogItem {
      display: flex;
    }
  </style>
  <h2> All Blogs </h2>
  <% if (blogs && blogs.length > 0)  { %>
    <% blogs.forEach(blog => {  %>
      <div class="blogItem">
        <a href="/blogs/<%=blog.id %>" >
          <h3> Title: <%=  blog.title  %> </h3>
          <p> Snippet: <%=  blog.snippet  %> </p>
        </a>
      </div>
    <% }) %>
  <% } %>
</body>