<body>
  <form action="/blogs" method="POST">
    <label for="title"> Title: 
        <input id="title" name="title" >
    </label> 
    <label for="snippet"> Snippet: 
      <input id="snippet" name="snippet" >
    </label> 
    <button type="submit" >Submit</button>
  </form>
</body>