<style>
    .nav_wrap {
        background-color: white;

        border: 3px solid black;
        border-color: cadetblue;
        border-top: 0;
    }
    nav { 
        background-color: white;
        display: flex;
    }
    nav a  {
        padding: 2px 0px;
        display: block;
        text-decoration: none;
    }
    nav a[href],
    nav a:visited {
        color: black;
    }
    nav a:before  {
        padding: 2px 20px;
        content: "|";        
    }
    nav a:first-child {
        padding-left: 4px;
    }
    nav a:first-child:before {
        content: unset;
    }
</style>
<div class="nav_wrap">
    <nav class="container">
        <a href="/">Search</a>
        <a href="/vods/all">Vids</a>
        <%- process.env.SAMPLE_NAV_OFF == 'true' ? '' : `<a href="/editors-choice">Editor's Choice</a>` %>
        <%- process.env.SAMPLE_NAV_OFF == 'true' ? '' : `<a href="/honorable-mentions">Honorable Mentions</a>` %>
        <%- process.env.DEVPRODLOCAL == 'local' ? '<a href="/test">Test</a>' : '' %>
    </nav>
</div>