

<div class="headingxxxx" style="padding: 20px 0;">
    <% 
        // const checkIfExists = (x) => typeof x != 'undefined' && x != null;
        // console.log("LOCALS TITLE")
        // console.log(locals)
        let h1_ = (typeof h1 != 'undefined' && h1 != null) ? h1 : "";
        let h2_ = (typeof h2 != 'undefined' && h2 != null) ? h2 : "";
        let h3_ = (typeof h3 != 'undefined' && h3 != null) ? h3 : "";
    %>
    <h1> <%- h1_ %> </h1>
    <h2> <%- h2_ %> </h2>
    <h3> <%- h3_ %> </h3>
</div>
<!-- <hr> -->