<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %>
<style>
  a {
    display: block;
  }
</style>
<body>
  <div>
    <h1> <%= title %> </h1>
    <% const bang = 'yoooo' %>
    Hello  <%= bang  %>
  </div>
  <div> 
    <a href="./test-transcript"> test-1-transcript</a>
    <a href="./find-transcript"> find-1-transcript</a>
    <a href="./null-transcript"> null-transcript</a>
    <a href="./transcript/123123"> transcript/123123</a>
    <hr>
    <a href="<%= process.env.CDN_DOMAIN %>"> CDN raw </a>
    <a href="./cdn/allvids"> !!!! CDN all Vids  <----------Updates DB</a>
    <a href="./api/search?search=challenger"> Search for challenger</a>
    <a href="./clip/6316dd805f6a34df594b9c8e"> Go to a clip</a>
    <a href="./vods/all"> All vods</a>
    <hr>
    <a href="./allTranscriptsDb"> MongoDb-AseemblyAI: All Ids </a>
    <a href="./allTranscriptsAAI"> Assembly AI: All Ts</a>
    <a href="./customGet"> Custom AssemblyAI Get </a>
    <hr>
    <!-- <a href="./test/data.json"> Test data json</a>
    <a href="./test/data"> endpoint that calls another endpoint</a> -->
    <hr>
    
    <a href="./search"> Search</a>
    <hr>
    <a href="./yt/test"> youtube list captions</a>
    <a href="./test/csv"> mahrer upload csv</a>
    <a href="./test/csvFind"> mahrer FIND</a>
    
    <hr>
    <a href="./404.html"> 404</a>
    <a href="./add-blog"> add blog</a>
    <a href="./all-blogs"> all blogs</a>
    <a href="./id-blog"> id blogs</a>
    <a href="./blogs"> blogs rendered</a>
    <a href="./blogs/create"> blogs create</a>
  </div>
</body>
</html>